# Build folders
Debug/
Release/
build/
Drivers/
Middlewares/
FATFS/

# Object files
*.o
*.d

# Executables
*.elf
*.bin
*.hex

# STM32CubeIDE
.metadata/
*.log

# Documentation
docs/
Doxyfile
warnings.log

# OS files
.DS_Store
Thumbs.db
